<main>
  <button
    (click)="soundRequestDialog.showModal()"
    class="btn btn-primary btn-wide"
  >
    신청하기
  </button>
</main>

<dialog #soundRequestDialog class="modal">
  <div class="modal-box bg-base-200">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">사진</legend>
      <input #imageInput type="file" class="file-input" />
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">설명</legend>
      <textarea #descriptionInput class="input w-full"></textarea>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">음성 파일</legend>
      <input #voiceInput type="file" class="file-input" />
    </fieldset>

    <footer class="flex justify-end gap-2">
      <button class="btn" (click)="soundRequestDialog.close()">취소</button>
      <button
        class="btn btn-primary"
        (click)="
          submitSoundRequest(
            descriptionInput.value,
            imageInput.files?.[0],
            voiceInput.files?.[0]
          )
        "
      >
        @if (submitting()) {
          <span class="loading loading-spinner"></span>
        }
        확인
      </button>
    </footer>
  </div>
</dialog>
