<section id="artists" class="min-h-dvh text-white flex flex-col container gap-8 py-8">
  <h1 class="text-3xl sm:text-4xl font-extrabold">Artists</h1>

  <div class="h-px w-full bg-white"></div>

  <div class="flex flex-col items-end w-full">
    <p>We are Sonix Lab —</p>
    <p>a collective of young sound technology creators</p>
    <p>who design sound and expand perception through technology</p>
  </div>
  <div class="flex flex-col items-start w-full">
    <p>저희는 사운드를 설계하고 기술로 감각을 확장하는</p>
    <p>젊은 사운드 테크놀로지 크리어에터들로 구성된</p>
    <p>Sonix Lab입니다.</p>
  </div>

  <swiper-container #swiperContainer [options]="swiperOptions" init="false">
    @for (artist of artists; track $index) {
    <swiper-slide>
      <button class="flex flex-col gap-4 cursor-pointer" (click)="
          artistDetailDialog.setAttribute('data-artist', artist.name);
          artistDetailDialog.showModal()
        ">
        <img [src]="artist.name + '.jpeg'" [alt]="artist.name"
          class="grayscale hover:grayscale-0 w-full aspect-[9/16] object-cover"
          style="transition: filter 0.3s ease-in-out" />
        <div class="flex flex-col gap-2 items-start">
          <h3>{{ artist.name }}</h3>
          <p class="text-sm font-bold">{{ artist.role }}</p>
          <p class="text-sm font-bold">&#64;{{ artist.instagram }}</p>
        </div>
      </button>
    </swiper-slide>
    }
  </swiper-container>
</section>

<dialog #artistDetailDialog class="modal">
  @let name = artistDetailDialog.getAttribute("data-artist");
  @if (name) {
  @let artist = getArtist(name);
  @if (artist) {
  <div class="modal-box bg-base-200">
    <img [src]="artist.name + '.jpeg'" [alt]="artist.name"
      class="w-full aspect-[9/16] object-cover object-center mb-4" />
    <h3>{{ artist.name }}</h3>
    <p class="text-sm font-bold">{{ artist.role }}</p>
    <p class="text-sm font-bold">&#64;{{ artist.instagram }}</p>

    <article>
      {{artist.intro}}
    </article>

    <button class="btn btn-block btn-primary mt-4" (click)="artistDetailDialog.close()">Close</button>
  </div>
  }
  }
</dialog>