<section
  id="artists"
  class="min-h-dvh text-white flex flex-col container gap-8 py-8"
>
  <h1 class="text-3xl sm:text-4xl font-extrabold">Artists</h1>

  <div class="h-px w-full bg-white"></div>

  <div class="flex flex-col items-end w-full">
    <p>We are Sonix Lab —</p>
    <p>a collective of young sound technology creators</p>
    <p>who design sound and expand perception through technology</p>
  </div>
  <div class="flex flex-col items-start w-full">
    <p>저희는 사운드를 설계하고 기술로 감각을 확장하는</p>
    <p>젊은 사운드 테크놀로지 크리어에터들로 구성된</p>
    <p>Sonix Lab입니다.</p>
  </div>

  <div role="list" class="flex overflow-x-auto snap-x">
    @for (artist of artists.value(); track $index) {
      <button
        class="card bg-base-100 lg:min-w-auto lg:basis-1/5 min-w-screen snap-center shadow-sm"
        (click)="
          artistDetailDialog.setAttribute('data-artist', artist.name);
          artistDetailDialog.showModal()
        "
      >
        <figure>
          <img
            [src]="artist.name + '.jpeg'"
            [alt]="artist.name"
            class="grayscale hover:grayscale-0 w-full aspect-[9/16] object-cover"
            style="transition: filter 0.3s ease-in-out"
          />
        </figure>
        <div class="card-body *:text-left">
          <h2 class="card-title">{{ artist.name }}</h2>
          <p>{{ artist.role }}</p>
          <p>&#64;{{ artist.instagram }}</p>
        </div>
      </button>
    }
  </div>
</section>

<dialog #artistDetailDialog class="modal">
  @let name = artistDetailDialog.getAttribute("data-artist");
  @if (name) {
    @let artist = getArtist(name);
    @if (artist) {
      <div class="modal-box bg-base-200">
        <img
          [src]="artist.name + '.jpeg'"
          [alt]="artist.name"
          class="w-full aspect-[1/1] object-cover object-center mb-4"
        />
        <h2 class="text-2xl font-extrabold">{{ artist.name }}</h2>
        <p>{{ artist.role }}</p>
        <p>&#64;{{ artist.instagram }}</p>
      </div>

      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    }
  }
</dialog>
