<div class="drawer drawer-end">
  <input id="my-drawer-1" type="checkbox" class="drawer-toggle" />

  <div class="drawer-content">
    <header class="sticky top-0 z-40">
      <div class="navbar bg-base-100 shadow-sm">
        <div class="navbar-start">
          <a href="#hero" class="h-10 sm:h-16">
            <app-logo class="sm:h-16 h-10 text-white" />
          </a>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li><a href="#intro">Intro</a></li>
            <li><a href="#artists">Artists</a></li>
            <li><a routerLink="sound-request">Sound Request</a></li>
          </ul>
        </div>
        <div class="navbar-end">
          <label for="my-drawer-1" class="btn btn-square btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
              <path fill="currentColor" d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z" />
            </svg>
          </label>
        </div>
      </div>
    </header>

    <router-outlet />
  </div>

  <div class="drawer-side z-50">
    <label for="my-drawer-1" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 min-h-full w-80 p-4">
      <!-- Sidebar content here -->
      <li><a href="#intro">Intro</a></li>
      <li><a href="#artists">Artists</a></li>
      <li><a href="/sound-request">Sound Request</a></li>
    </ul>
  </div>
</div>