@import "tailwindcss";

@theme {
  --font-sans: "Pretendard", sans-serif;
}

@plugin "daisyui" {
  themes: black --default;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: calc(var(--spacing) * 2);
  }
}

* {
  @apply selection:bg-neutral-900;
}

body {
  @apply bg-black;
}

a[routerLink],
a[href] {
  @apply cursor-pointer;
}
